    .AddItemButton{
        /* max-width: 10px; */
        background-color: #e9f3f1;
        border-color: transparent;
        border-radius: 10px;
        color: rgb(17, 23, 26);
        cursor: pointer;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        width: 180px;
        font-weight: bold;
        font-size: 16px;
        font-family: 
          'Trebuchet MS',         
     }
    
       .AddItemButton:hover{
        background-color: #036384 !important;
        border-color: transparent;
      }

      .AddItemButton:active{
        background-color: #036384 !important;
        border-color: transparent;
        transform: translateY(4px) !important;
      }

      .modalBody{
        background-color: #97bebe;
        font-family: 'Trebuchet MS';
      }

      .modalHeader{
        background-color: #97bebe;
        font-family: 'Trebuchet MS';
      }