
.page-footer{background-color: #036384;}

/*  Footer mobile responsive section starts here */
@media (max-width: 400px) and (min-width: 300px) {  
    .footerNavMobileRes {
      flex-direction: row !important;
    }
  }
  
  @media (max-width: 797px) and (min-width: 300px) {
    .footerNavMobileRes {flex-wrap: wrap !important;
    }
  }
  
  @media (max-width: 800px) {
    .footercContainerMobileRes {
      flex-direction: column;
      text-align: center !important;
    }
  }
  
  /*  Footer mobile responsive section ends here */