.tagName{
    color:rgb(98, 103, 109)
}

.businessName{
    color: rgb(0, 3, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}