
.nav-link {
  font-size:larger;
  position: relative;
  margin: 20px;
  color: white;
  text-decoration: none;
<<<<<<< HEAD
=======
  font-family: 'Trebuchet MS';
>>>>>>> 9b6f5e99f9b00d0f57144162a9915d87b8ed2fab
}

.navbar{
   margin-left:0%;
      }

.navBarBrand{
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 11vh;
        /* margin-right: 50px; */
        }

.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
  content: "";
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  }

.nav-link:active{
  opacity: 0.5;
 }

<<<<<<< HEAD
.navBarColor{
=======
.navBarContainer{
>>>>>>> 9b6f5e99f9b00d0f57144162a9915d87b8ed2fab
    background-color: #036384;
    }

.nav-link:hover {
  text-decoration: none !important;
<<<<<<< HEAD
}
=======
}

.brandLogo{
  height:80px;
}

.navBar{
}

@media (max-width: 500px)  {
  .brandLogo {
    height:50px;
    
  }
}

/* @media (max-width: 500px) and (min-width: 376px) {
  .brandLogo {
    height:50px;
    
  }
} */

>>>>>>> 9b6f5e99f9b00d0f57144162a9915d87b8ed2fab
